
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
$robot: 'Roboto Slab', serif;
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
$masalva: 'Mansalva', cursive;
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
$lato: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');
$grenze: 'Grenze', serif;
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
$lobster: 'Lobster', cursive;
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
$anton: 'Anton', sans-serif;
$base-color: #abced4;
$paper: linear-gradient(90deg, transparent 79px, $base-color 79px, $base-color 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
$carbon:  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);

.background1 {
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: #fff;
    background: $paper;
    background-size: 100% 1.2em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.info-box1 {
background: $base-color;
margin: 50px;
font-family: 'PT Serif', serif;
padding: 15px 13px 10px 13px;
font-size: 18px;
max-height: 300px;
max-width: 500px;
-webkit-box-shadow: 1px 3px 15px 18px rgba(0,0,0,0.54); 
box-shadow: 1px 3px 15px 18px rgba(0,0,0,0.54);
}
.input-titles1 {
    font-family: 'Grenze', serif;
    font-size: 60px;
}
.aboutbutton:hover {
    color: blue;
}
.aboutbutton {
    background: $base-color;
    border-radius: 30px;
    border: none;
    border-radius: 30;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    margin: 0 10px 0 10px;
}

