@import '../../App.scss';

.background1 {
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: #fff;
    background: $paper;
    background-size: 100% 1.2em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.info-box1 {
background: $base-color;
margin: 50px;
font-family: 'PT Serif', serif;
padding: 15px 13px 10px 13px;
font-size: 18px;
max-height: 300px;
max-width: 500px;
-webkit-box-shadow: 1px 3px 15px 18px rgba(0,0,0,0.54); 
box-shadow: 1px 3px 15px 18px rgba(0,0,0,0.54);
}
.input-titles1 {
    font-family: 'Grenze', serif;
    font-size: 60px;
}
.aboutbutton:hover {
    color: blue;
}
.aboutbutton {
    background: $base-color;
    border-radius: 30px;
    border: none;
    border-radius: 30;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    margin: 0 10px 0 10px;
}

