@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

.background {
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    padding: 20px;
}

@media (min-width: 1200px) {
    .lander {
        display: flex;
        justify-content: space-around;
        align-content: center;
    }
}
@media (min-width: 800px) {
    .lander {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}
@media (min-width: 400px) {
    .lander {
        align-content: center;
    }
}
.info-box {
background: #abced1;
margin: 50px;
font-family: 'PT Serif', serif;
padding: 15px 13px 10px 13px;
font-size: 18px;
max-height: 300px;
-webkit-box-shadow: 1px 3px 15px 18px rgba(0,0,0,0.54); 
box-shadow: 1px 3px 15px 18px rgba(0,0,0,0.54);
}

@media (min-width: 1200px) {
    .login , .info-box {
        min-width: 300px;
        padding: 10px 0 0 13px;
    }
}
@media (min-width: 800px) {
    .login , .info-box{
        min-width: 600px;
        padding: 10px 0 10px 13px;
        height: auto;
    }
}
@media (min-width: 400px) {
    .login , .info-box{
        max-width: 600px;
        min-width: 310px;
        padding: 10px 0 10px 13px;
        height: auto;
    }
}

.login {
    background: #abced1;
    height: 220px;
    margin: 50px;
    padding: 10px 0 0 10px;
    font-family: 'PT Serif', serif;
    font-size: 15px;
    -webkit-box-shadow: 1px 3px 15px 18px rgba(0,0,0,0.54); 
    box-shadow: 1px 3px 15px 18px rgba(0,0,0,0.54);
}
.login:hover  {
    background-color: #abced9;
}
.titles {
    font-family: 'Mansalva', cursive;
    font-size: 50px;
}
.regbutton {
    background: rgba(0, 0, 255, 0.075);
    border-radius: 30px;
    border: none;
    border-radius: 30;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    margin: 0 10px 0 10px;
}
.regbutton:hover {
    color: blue;
}
.enter:hover {
    color: blue;
}
.log {
    margin: 10px;
}
.enter {
    background: #abced4;
    font-family: 'Anton', sans-serif;
    margin: 0 10px 0 10px;
    cursor: pointer;
    border-radius: 30px;
    border-color: rgba(0, 0, 255, 0.116);
}
.input-titles {
    font-family: 'Grenze', serif;
    font-size: 30px;
}


.input {
	position:relative;
	font-size: 0.5em;
	background: linear-gradient(21deg, #10abff, #1beabd);
	padding: 3px;
	display: inline-block;
	border-radius: 9999em;
	*:not(span) {
		position: relative;
		display: inherit;
		border-radius: inherit;
		margin: 0;
		border: none;
		outline: none;
		padding: 0 .325em;
		z-index: 1; 
	
		&:focus + span {
			opacity: 1;
			transform: scale(1);
		}
	}
}


