@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

.back {
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    background-size: 100% 1.2em;
}
.list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.events {
    height: auto;
    min-width: 200px;
    width: 300px;
    margin: 20px;
    padding: 10px 10px 20px 10px;
    background: #abced4;
    -webkit-box-shadow: 1px 3px 15px 5px rgba(0,0,0,0.54); 
    box-shadow: 1px 3px 15px 5px rgba(0,0,0,0.54);
}

.titlePage {
    font-family: 'Mansalva', cursive;
    font-size: 30px;
    margin: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
.text {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin: 5px;
    overflow-wrap: break-word;
}
